<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Box icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
    <!-- Custom StyleSheet -->
    <link rel="stylesheet" href="/assets/css/index.css" />
    <title>Your Cart</title>
</head>
<body>
    <!-- Navigation -->
    <div class="top-nav">
      
    </div>
    <div class="navigation">
      <div class="nav-center container d-flex">
        <a href="/" class="logo"><h1>BAGSON</h1></a>

        <ul class="nav-list d-flex">
          <li class="nav-item">
            <a href="/" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="/prod" class="nav-link">Shop</a>
          </li>
          <li class="nav-item">
            <a href="#terms" class="nav-link">Terms</a>
          </li>
          <li class="nav-item">
            <a href="#about" class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a href="#contact" class="nav-link">Contact</a>
          </li>
          <li class="icons d-flex">
            <a href="/profile" class="icon">
              <i class="bx bx-user"></i>
            </a>
            <div class="icon">
              <i class="bx bx-search"></i>
            </div>
            <div class="icon">
              <i class="bx bx-heart"></i>
              <span class="d-flex">0</span>
            </div>
            <a href="cart.html" class="icon">
              <i class="bx bx-cart"></i>
              <span class="d-flex">0</span>
            </a>
          </li>
        </ul>

        <div class="icons d-flex">
          <a href="/profile" class="icon">
            <i class="bx bx-user"></i>
          </a>
          <div class="icon">
            <i class="bx bx-search"></i>
          </div>
          <div class="icon">
            <i class="bx bx-heart"></i>
            <span class="d-flex"><%=wishCount %></span>
          </div>
          
          <a href="/userlogout"><i class="ion-log-in"></i> Logout  </a>
        </div>

        <div class="hamburger">
          <i class="bx bx-menu-alt-left"></i>
        </div>
      </div>
    </div>
     
    <% if (!user || user.items.length === 0) { %>
      <div class="container cart">
          <div> <h1>Your cart is empty.</h1></div>
      </div>
    <% } else { %>
      <!-- Cart Items -->
      <div class="container cart">
        <table>
          <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Subtotal</th>
          </tr>
          <% 
         
          user.items.forEach((item, index) => { %>
            <tr>
              <td>
                <div class="cart-info">
                  <img src="<%= item.productId.images[0] %>" alt="" />
                  <div>
                    <span><%= item.productId.product_name %></span> <br />
                    <a href="remove/<%= item.productId._id %>">remove <i class="fa-solid fa-trash"></i></a>
                  </div>
                </div>
              </td>
              <td>
                <% if(item.productId.stock > 0) { %>
                  <div class="quantity">
                    <button class="quantity-btn btn2" onclick="quantity('dec', <%= JSON.stringify(item) %>)">-</button>
                    <input type="number" id="quantity-<%= item.productId._id %>" value="<%= item.quantity %>" min="1" readonly />
                    <button class="quantity-btn" onclick="quantity('inc', <%= JSON.stringify(item) %>)">+</button>
                  </div>
                <% } else { %>
                  <p>Out of Stock</p>
                <% } %>
              </td>
              <td id="total_price_<%= item.productId._id %>">&#8377;<%= item.productId.offerPrice * item.quantity %></td>
            </tr>
          <% }) %>
        </table>
        <div class="total-price">
          <table>
            <tr>
              <td>Total</td>
              <td id="total_amount">&#8377;<%= user.totalAmount %></td>
            </tr>
          </table>
          <p id="checkout-button" class="checkout btn" >Proceed To Checkout</p>

        </div>
      </div>
    <% } %>

    <!-- Footer -->
    <footer class="footer">
      <div class="row">
        <div class="col d-flex">
          <h4>INFORMATION</h4>
          <a href="">About us</a>
          <a href="">Contact Us</a>
          <a href="">Term & Conditions</a>
          <a href="">Shipping Guide</a>
        </div>
        <div class="col d-flex">
          <h4>USEFUL LINK</h4>
          <a href="">Online Store</a>
          <a href="">Customer Services</a>
          <a href="">Promotion</a>
          <a href="">Top Brands</a>
        </div>
        <div class="col d-flex">
          <span><i class="bx bxl-facebook-square"></i></span>
          <span><i class="bx bxl-instagram-alt"></i></span>
          <span><i class="bx bxl-github"></i></span>
          <span><i class="bx bxl-twitter"></i></span>
          <span><i class="bx bxl-pinterest"></i></span>
        </div>
      </div>
    </footer>

    <!-- Custom Script -->
    <script src="/assets/js/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
    
      const userData = <%- JSON.stringify(user) %>;

      const quantity = async (type, item) => {
        let quantityElement = document.getElementById(`quantity-${item.productId._id}`);
        let totalPriceElement = document.getElementById(`total_price_${item.productId._id}`);
        let quantityValue = parseInt(quantityElement.value);

        if (type === 'inc') {
          if (quantityValue < item.productId.stock) {
            quantityValue++;
          } else {
            Swal.fire({
              title: 'Stock Exceeded!',
              text: 'Cannot add more than available Stock',
              icon: 'warning',
              confirmButtonText: 'OK'
            });
            return;
          }
        } else {
          if (quantityValue > 1) {
            quantityValue--;
          }
        }

        quantityElement.value = quantityValue;
        let totalPrice = quantityValue * item.productId.offerPrice;
        totalPriceElement.innerText = `₹${totalPrice}`;
        
        fetch(`/up-quantity/${item.productId._id}`, {
				method: "PUT",
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({ quantity:quantityValue })
			}).then(res => res.json())
								.then(res => { 
                                 
									
									
									if (res.message === 'changed') {

                    fetch('/up-amount', {
				             method: "POST",
				            headers: {
				              	'Content-Type': 'application/json'
				                   },
			              }).then(res => res.json())
                    .then(res => { 
                      if (res.message === 'update') {
                
										

                         
        let totalAmount = 0;
        document.querySelectorAll('.container.cart table tr').forEach((row) => {
          let priceElement = row.querySelector('td:nth-child(3)');
          if (priceElement) {
            let subtotal = parseFloat(priceElement.innerText.replace('₹', ''));
            totalAmount += subtotal;
          }
        });
        document.getElementById('total_amount').innerText = `₹${totalAmount}`;


                      }
      })
			}
		})
 }

      
 document.getElementById('checkout-button').addEventListener('click', function() {
  
    window.location.href = '/checkout';
});
    </script>
    
    
  </body>
</html>
