<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Box icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.1/font/bootstrap-icons.min.css">
  <!-- Custom StyleSheet -->
  <link rel="stylesheet" href="/assets/css/index.css" />
  <title>BAGSON</title>
</head>
<style>
     

  .custom-search-container {
      display: flex;
      align-items: center;
      background-color: #ffffff;
      border-radius: 25px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 1px 2px;
      max-width: 300px;
      width: 100%;
  }

  #custom-search {
      border: none;
      outline: none;
      padding: 10px;
      width: 100%;
      font-size: 16px;
      border-radius: 25px;
  }

  #custom-search::placeholder {
      color: #bbb;
  }

  #custom-search-button {
      background-color: #007BFF;
      border: none;
      outline: none;
      padding: 10px 10px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      margin-left: 10px;
  }

  #custom-search-button svg {
      fill: #ffffff;
  }

  #custom-search-button:hover {
      background-color: #0056b3;
  }
  
  .pagination {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }

    .page-btn {
      margin: 0 5px;
      padding: 5px 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #fff;
      cursor: pointer;
    }

    .page-btn:hover {
      background-color: #f0f0f0;
    }
</style>

<body>
  <!-- Navigation -->
  
  <div class="navigation">
    <div class="nav-center container d-flex">
      <a href="/" class="logo">
        <h1>BAGSON</h1>
      </a>

      <ul class="nav-list d-flex">
        <li class="nav-item">
          <a href="/" class="nav-link">Home</a>
        </li>
         
        <li class="nav-item">
          <a href="#terms" class="nav-link">Terms</a>
        </li>
        <li class="nav-item">
          <a href="#about" class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a href="#contact" class="nav-link">Contact</a>
        </li>
        
      </ul>
      <div class="custom-search-container">
        <input type="text" id="custom-search" placeholder="Search...">
        <button id="custom-search-button">
          <i class="bx bx-search"></i>
        </button>
    </div>

      <div class="icons d-flex">
        <a href="/profile" class="icon">
          <i class="bx bx-user"></i>
        </a>
        
        <div class="icon">
          <a href="/wishlisted">
          <i class="bx bx-heart"></i></a>
          <!-- <span class="d-flex">0</span> -->
        </div>
        <a href="/cart" class="icon">
          <i class="bx bx-cart"></i>
          <!-- <span class="d-flex">0</span> -->
        </a>
      </div>

      <div class="hamburger">
        <i class="bx bx-menu-alt-left"></i>
      </div>
    </div>
  </div>

  <!-- All Products -->

  
  <section class="section all-products" id="products">
    <div class="top container">
      
      <form>
        <select id="shop">
          <option name="cata" value="all">All Products</option>
          <% category.forEach(item => { %>
              <option name="cata" value="<%= item._id %>"><%= item.CategoryName %></option>
          <% }) %>
      </select>
      </form>
      <!-- <h1>
        
      </h1> -->
     
     <form>
        <select id="sort">
          <option value="1"disabled selected>Sort by</option>
          <option value="2">Low to High</option>
          <option value="3">High to low</option>
          <option value="4">a-to-z</option>
          <option value="5">z-to-a</option>
          <option value="6">newest</option>
        </select>
        <span><i class="bx bx-chevron-down"></i></span>
     
      </form>
    </div>
    
    <div class="product-center container" id="innerPeace">
      <% products.forEach(product=> { %>
        <div class="product-item">
          <div class="overlay">
            <a href="productdetail?id=<%= product._id %>" class="product-thumb">
              <img src="<%= product.images[0] %>" alt="" />
            </a>
          </div>
          <div class="product-info">
            <a href="/productdetail?id=<%= product._id %>"> <span>
                <%= product.product_name %>
              </span>
              <h4>
                <%= product.brand %>
              </h4>
              <% if (product.offerPrice && product.offerPrice < product.price) { %>
                <h4 class="product_details-offer-priceee">&#8377;<%= product.offerPrice %></h4>
                <span class="product_details-original-price">M.R.P.: &#8377;<%= product.price %></span>
                <span class="product_details-discount">(<%= Math.round(((product.price - product.offerPrice) / product.price) * 100) %> % off)</span>
                                <% } else { %>
                                  <h4 class="product_details-offer-price">&#8377;<%= product.price - product.discount %></h4>
              <h5><span class="product_details-original-price">M.R.P.: &#8377;<%= product.price %></span>
                <span class="product_details-discount">(<%= Math.round((product.discount / product.price) * 100) %>% discount)</span></h5>
              <% } %>
          </div>
         <ul class="icons">
              <li><i class="bx bx-heart"></i></li>
              <li><a href="/productdetail?id=<%=product._id  %>"><i class="bx bx-search"></i></a></li>
              <li><a href="cart/<%=product._id %>"><i class="bx bx-cart"></i></a></li>
            </ul>      
        </div>
        <% }) %>
    </div>

    <!-- pagination -->
     <div class="pagination-container">
           <div class="pagination" id="innerpage">
                            <% for (let i=1; i <=pages; i++) { %>
                                <button class="page-btn" data-page="<%= i %>">
                                    <%= i %>
                                </button>
                                <% } %>
                        </div>
                        </div>




  </section>
  <!-- Footer -->
  <footer class="footer">
    <div class="row">
      <div class="col d-flex">
        <h4>INFORMATION</h4>
        <a href="">About us</a>
        <a href="">Contact Us</a>
        <a href="">Term & Conditions</a>
        <a href="">Shipping Guide</a>
      </div>
      <div class="col d-flex">
        <h4>USEFUL LINK</h4>
        <a href="">Online Store</a>
        <a href="">Customer Services</a>
        <a href="">Promotion</a>
        <a href="">Top Brands</a>
      </div>
      <div class="col d-flex">
        <span><i class="bx bxl-facebook-square"></i></span>
        <span><i class="bx bxl-instagram-alt"></i></span>
        <span><i class="bx bxl-github"></i></span>
        <span><i class="bx bxl-twitter"></i></span>
        <span><i class="bx bxl-pinterest"></i></span>
      </div>
    </div>
  </footer>
  <!-- Custom Script -->
  <script src="./js/index.js"></script>
  <script>
      document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('shop').addEventListener('change', function() {
      const selected = this.value;
      if(selected==="all"){
        fetch("/allshop", {
    method: "POST",
    headers: {
        'Content-Type': 'application/json'
    },
    body: JSON.stringify({ items: selected })
}).then(res => res.json())
.then(res => {
  
  const productGrid = document.getElementById('innerPeace');
  productGrid.innerHTML = '';
    res.forEach(product => {
      productGrid.innerHTML += `
            <div class="product-item">
                <div class="overlay">
                    <a href="productdetail?id=${product._id}" class="product-thumb">
                        <img src="${product.images[0]}" alt="" />
                    </a>
                </div>
                <div class="product-info">
                    <a href="/productdetail?id=${product._id}">
                        <span>${product.product_name}</span>
                        <h4>${product.brand}</h4>
                        ${product.offerPrice && product.offerPrice < product.price ? `
                            <h4 class="product_details-offer-price">&#8377;${product.offerPrice}</h4>
                            <span class="product_details-original-price">M.R.P.: &#8377;${product.price}</span>
                            <span class="product_details-discount">(${Math.round(((product.price - product.offerPrice) / product.price) * 100)}% off)</span>
                        ` : `
                            <h4 class="product_details-offer-price">&#8377;${ product.price - product.discount}</h4>
              <h5><span class="product_details-original-price">M.R.P.: &#8377${ product.price}</span>
                <span class="product_details-discount">(${Math.round((product.discount / product.price) * 100) }% discount)</span></h5>
                        `}
                    </a>
                </div>
                <ul class="icons">
                    <li><i class="bx bx-heart"></i></li>
                    <li><a href="/productdetail?id=${product._id}"><i class="bx bx-search"></i></a></li>
                    <li><a href="cart/${product._id}"><i class="bx bx-cart"></i></a></li>
                </ul>
            </div>
        `;
        
        
    });
})
      }else{
            
            fetch("/shop", {
    method: "POST",
    headers: {
        'Content-Type': 'application/json'
    },
    body: JSON.stringify({ items: selected })
})
.then(res => res.json())
.then(res => {
  
  
  const productGrid = document.getElementById('innerPeace');
  productGrid.innerHTML = '';
    res.forEach(product => {
      productGrid.innerHTML += `
            <div class="product-item">
                <div class="overlay">
                    <a href="productdetail?id=${product._id}" class="product-thumb">
                        <img src="${product.images[0]}" alt="" />
                    </a>
                </div>
                <div class="product-info">
                    <a href="/productdetail?id=${product._id}">
                        <span>${product.product_name}</span>
                        <h4>${product.brand}</h4>
                        ${product.offerPrice && product.offerPrice < product.price ? `
                            <h4 class="product_details-offer-price">&#8377;${product.offerPrice}</h4>
                            <span class="product_details-original-price">M.R.P.: &#8377;${product.price}</span>
                            <span class="product_details-discount">(${Math.round(((product.price - product.offerPrice) / product.price) * 100)}% off)</span>
                        ` : `
                             <h4 class="product_details-offer-price">&#8377;${ product.price - product.discount}</h4>
              <h5><span class="product_details-original-price">M.R.P.: &#8377${ product.price}</span>
                <span class="product_details-discount">(${Math.round((product.discount / product.price) * 100) }% discount)</span></h5>
                        `}
                    </a>
                </div>
                <ul class="icons">
                    <li><i class="bx bx-heart"></i></li>
                    <li><a href="/productdetail?id=${product._id}"><i class="bx bx-search"></i></a></li>
                    <li><a href="cart/${product._id}"><i class="bx bx-cart"></i></a></li>
                </ul>
            </div>
        `;
        
        
    });
})
    }
       })
      })
.catch(error => {
    console.error('Error:', error);
});
  </script>


  <script> 
  document.getElementById('sort').addEventListener('change', function() {
    const selectedsort = this.value;
    const selectedItemId = document.getElementById('shop').value;
    if(selectedItemId==="all"){
      fetch("/outsort", {
    method: "POST",
     headers: {
     'Content-Type': 'application/json'
    },body: JSON.stringify({ selsect: selectedsort})
  }).then(res => res.json())
  .then(res =>{
    const productGrid = document.getElementById('innerPeace');
  productGrid.innerHTML = '';
    res.forEach(product => {
      productGrid.innerHTML += `
            <div class="product-item">
                <div class="overlay">
                    <a href="productdetail?id=${product._id}" class="product-thumb">
                        <img src="${product.images[0]}" alt="" />
                    </a>
                </div>
                <div class="product-info">
                    <a href="/productdetail?id=${product._id}">
                        <span>${product.product_name}</span>
                        <h4>${product.brand}</h4>
                        ${product.offerPrice && product.offerPrice < product.price ? `
                            <h4 class="product_details-offer-price">&#8377;${product.offerPrice}</h4>
                            <span class="product_details-original-price">M.R.P.: &#8377;${product.price}</span>
                            <span class="product_details-discount">(${Math.round(((product.price - product.offerPrice) / product.price) * 100)}% off)</span>
                        ` : `
                             <h4 class="product_details-offer-price">&#8377;${ product.price - product.discount}</h4>
              <h5><span class="product_details-original-price">M.R.P.: &#8377${ product.price}</span>
                <span class="product_details-discount">(${Math.round((product.discount / product.price) * 100) }% discount)</span></h5>
                        `}
                    </a>
                </div>
                <ul class="icons">
                    <li><i class="bx bx-heart"></i></li>
                    <li><a href="/productdetail?id=${product._id}"><i class="bx bx-search"></i></a></li>
                    <li><a href="cart/${product._id}"><i class="bx bx-cart"></i></a></li>
                </ul>
            </div>
        `;
        
        
    });
  })
    }
    else{
          
    fetch("/productsort", {
    method: "POST",
     headers: {
     'Content-Type': 'application/json'
    },
     body: JSON.stringify({ selsect: selectedsort,selectedItemId})
     }).then(res => res.json())
     .then(res =>{
      console.log(res);
       
  const productGrid = document.getElementById('innerPeace');
  productGrid.innerHTML = '';
    res.forEach(product => {
      productGrid.innerHTML += `
            <div class="product-item">
                <div class="overlay">
                    <a href="productdetail?id=${product._id}" class="product-thumb">
                        <img src="${product.images[0]}" alt="" />
                    </a>
                </div>
                <div class="product-info">
                    <a href="/productdetail?id=${product._id}">
                        <span>${product.product_name}</span>
                        <h4>${product.brand}</h4>
                        ${product.offerPrice && product.offerPrice < product.price ? `
                            <h4 class="product_details-offer-price">&#8377;${product.offerPrice}</h4>
                            <span class="product_details-original-price">M.R.P.: &#8377;${product.price}</span>
                            <span class="product_details-discount">(${Math.round(((product.price - product.offerPrice) / product.price) * 100)}% off)</span>
                        ` : `
                             <h4 class="product_details-offer-price">&#8377;${ product.price - product.discount}</h4>
              <h5><span class="product_details-original-price">M.R.P.: &#8377${ product.price}</span>
                <span class="product_details-discount">(${Math.round((product.discount / product.price) * 100) }% discount)</span></h5>
                        `}
                    </a>
                </div>
                <ul class="icons">
                    <li><i class="bx bx-heart"></i></li>
                    <li><a href="/productdetail?id=${product._id}"><i class="bx bx-search"></i></a></li>
                    <li><a href="cart/${product._id}"><i class="bx bx-cart"></i></a></li>
                </ul>
            </div>
        `;
        
        
    });
     })


    }
    })
    
  
</script>
<script>
  document.getElementById('custom-search-button').addEventListener('click', function() {
  const query = document.getElementById('custom-search').value;
  
  fetch(`/search`, {
      method: "POST",
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ word:query })
    }).then(res => res.json())
              .then(res => {
                const productGrid = document.getElementById('innerPeace');
  productGrid.innerHTML = '';
    res.forEach(product => {
      productGrid.innerHTML += `
            <div class="product-item">
                <div class="overlay">
                    <a href="productdetail?id=${product._id}" class="product-thumb">
                        <img src="${product.images[0]}" alt="" />
                    </a>
                </div>
                <div class="product-info">
                    <a href="/productdetail?id=${product._id}">
                        <span>${product.product_name}</span>
                        <h4>${product.brand}</h4>
                        ${product.offerPrice && product.offerPrice < product.price ? `
                            <h4 class="product_details-offer-price">&#8377;${product.offerPrice}</h4>
                            <span class="product_details-original-price">M.R.P.: &#8377;${product.price}</span>
                            <span class="product_details-discount">(${Math.round(((product.price - product.offerPrice) / product.price) * 100)}% off)</span>
                        ` : `
                            <h5>&#8377;${product.price}</h5>
                        `}
                    </a>
                </div>
                <ul class="icons">
                    <li><i class="bx bx-heart"></i></li>
                    <li><a href="/productdetail?id=${product._id}"><i class="bx bx-search"></i></a></li>
                    <li><a href="cart/${product._id}"><i class="bx bx-cart"></i></a></li>
                </ul>
            </div>
        `;
        
    });
               })
 
});

</script>
<script>

  // pagination
  document.addEventListener("DOMContentLoaded", function () {
                            const pageButtons = document.querySelectorAll('.page-btn');
                            const selectedItemId = document.getElementById('shop').value;
                            pageButtons.forEach(button => {
                                button.addEventListener('click', function () {
                                    const page = this.getAttribute('data-page');
                                    const url = `/viewmoreorder?page=${page}&cata=${selectedItemId}`;

                                    fetch(url)
                                        .then(response => {
                                            if (!response.ok) {
                                                throw new Error("Failed to fetch data");
                                            }
                                            return response.json();
                                        }).then(res => {
                                          const productGrid = document.getElementById('innerPeace');
                                          productGrid.innerHTML = '';
                                          res.next.forEach(product => {
      productGrid.innerHTML += `
            <div class="product-item">
                <div class="overlay">
                    <a href="productdetail?id=${product._id}" class="product-thumb">
                        <img src="${product.images[0]}" alt="" />
                    </a>
                </div>
                <div class="product-info">
                    <a href="/productdetail?id=${product._id}">
                        <span>${product.product_name}</span>
                        <h4>${product.brand}</h4>
                        ${product.offerPrice && product.offerPrice < product.price ? `
                            <h4 class="product_details-offer-price">&#8377;${product.offerPrice}</h4>
                            <span class="product_details-original-price">M.R.P.: &#8377;${product.price}</span>
                            <span class="product_details-discount">(${Math.round(((product.price - product.offerPrice) / product.price) * 100)}% off)</span>
                        ` : `
                            <h5>&#8377;${product.price}</h5>
                        `}
                    </a>
                </div>
                <ul class="icons">
                    <li><i class="bx bx-heart"></i></li>
                    <li><a href="/productdetail?id=${product._id}"><i class="bx bx-search"></i></a></li>
                    <li><a href="cart/${product._id}"><i class="bx bx-cart"></i></a></li>
                </ul>
            </div>
        `;
        
    });
    addEventListenersToButtons();
                                        }).catch(error => {
                                            console.error("Error:", error);
                                            // Handle fetch errors
                                        });
                                      }) 
                                    })
                                  })
</script>
</body>

</html>